.el-dialog__wrapper{ display: flex; align-items: center;}
.el-dialog__header{ display: none; border-radius: n(15);}
.el-dialog__body{ padding: 0;}
.el-dialog{ width: n(584); border-radius: n(15);}
.el-message__icon{ display: none;}

.el-message{ top: 0;}