.menu-top{

  .el-menu--horizontal>.el-menu-item{ height: 72px; line-height: 72px; padding: 0;

    a{ display: block; height: 100%; padding: 0 25px; color: #fff;}

    &:hover,&:active{ background: rgba(0,0,0,.15);}
  }

  .el-submenu__title{ padding: 0;}
  .el-menu--horizontal>.el-menu-item.is-active{
    border: none;
    background: rgba(0,0,0,.63);
  }
  
  .el-menu{ background: #333741;}
}

.menu-aside{

  .el-menu-item, .el-submenu__title{ padding: 0!important; font-size: 14px; background: #333741;
    &:hover,&:active{ background: rgba(0,0,0,.8);}

    &.is-active{ background: #7E8AD8;}

    a,span{ padding-left:20px!important; color: #fff;
      display: block; width: 100%; height: 100%; box-sizing: border-box;
    }
  }
}
